/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.header-group {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 70px;
}

.nav {
  display: flex;
}

.nav-list {
  list-style-type: none;
  /*width: 120px;*/
  margin: 0 30px;
  line-height: 70px;
  font-size: 16px;
}

.nav-list a {
  color: #FAFAFA;
}

/* section mv*/
#mv {
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 650px;
  text-align: center;
  color:#FAFAFA;
  padding-top: 200px;
}
.mv-title {
  margin-bottom: 10px;
  font-size: 64px;
}
.mv-text {
  font-size: 20px;
}

/* section portfolio*/
#portfolio {
  text-align: center;
  padding: 90px 0;
  color: #000000;
  background-color: #ECEFF1;
}
.heading {
  font-size: 32px;
}
.heading::after {
  content: "";
  display: block;
  background-color: #EC715F;
  height: 3px;
  width: 70px;
  margin: 8px auto 0;
}
.heading-text {
  margin: 30px 0;

}

.production-group {
  display: flex;
  flex-flow: row wrap;
  width: 920px;
  margin: 0 auto ;
}

.production {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin: 10px 10px 0 0
}

.production:nth-child(3n) {
  margin-right: 0;
}

.bg-1 {
  background-image: url(img/sketch.jpg);
}
.bg-2 {
  background-image: url(img/websuku.png);
}
.bg-3 {
  background-image: url(img/write.jpg);
}
.bg-4 {
  background-image: url(img/webcamp.png);
}
.bg-5 {
  background-image: url(img/talk.jpg);
}
.bg-6 {
  background-image: url(img/webcamp-mother.png);
}

/* section feature*/
#feature {
  text-align: center;
  padding: 90px 0;
  color: #000000;
}

.strength-group {
  display: flex;
  justify-content: space-between;
}

.strength {
  width: 320px;
  margin-right: 10px;
}
.strength:nth-child(3){
  margin-right: 0px;
}

.strength-icon {
  font-size: 60px;
}

.strength-title {
  font-size: 20px;
  margin: 10px 0;
}

.strength-text {
  font-size: 16px;
}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  header {
    height: 50px;
  }

  .container {
    width: 90%;
  }

  .logo {
    height: 50px;
  }

  .menu-box {
    width: 40px;
    height: 40px;
    margin-right: 5%;
    border: 1px solid #FAFAFA;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
  }
  .list-bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #FAFAFA;
  }
  .list-bar:first-child {
    margin-top: 10px;
  }

  .nav-list {
    display: none;
  }
}